body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    padding: 20px;
    background-color: #008CBA;
    color: #fff;
}

#pregunta-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: #008CBA;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.2s ease-in;
}

li:hover {
    background-color: #006688;
}

#puntuacion {
    background-color: #fff;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-weight: bold;
    margin: 20px auto; 
    color: #333;
    text-align: center;
}
