/* ejercicio9 */

.countdown-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    font-size: 24px;
}

#countdown {
    
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 36px;
    margin-top: 20px;
}

.return-button {
    margin-top: 20px;
    display: block;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s;
}
.btn_retorno{
    margin-top: 20px;
}
a{
    
    padding-left: 45%;  
}